@charset "utf-8";

/* reset */
* {max-height:1000000px;margin:0;padding:0;}
body {color:#666;font-family: "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1", "helvetica", "arial", "verdana", "tahoma", "sans-serif";line-height:1.5;word-wrap:break-word;word-break:normal;/*word-break:keep-all;*/white-space:normal;-webkit-overflow-scrolling:touch;-webkit-text-size-adjust:none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
img, fieldset, button {border:none;}
hr, button img {display:none;}
li {list-style:none;}
a {color:initial;text-decoration:none;}
a:hover, a:active, a:focus, a:visited {text-decoration:none;}
table {width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0;}
th, td {vertical-align:middle;word-wrap:break-word;word-break:break-all;}
img {vertical-align:top;width:100%;}
legend {position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;overflow:hidden;} /* For Screen Reader 스크린 리더 용 */ 
caption {display:none;/*position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;overflow:hidden; margin-top:-1px;*/}
em {font-style:normal;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display:block;}
form {margin:0;padding:0;}
input, textarea, select {border-radius:0;}
textarea {overflow:auto;-webkit-appearance:none;}
button{overflow:visible;margin:0;padding:0;border:none;background:none;cursor:pointer;}

html,body {min-height:100vh; height:100%;}
#wrap {position:relative; width:100%; min-height:100%; overflow:hidden;}


/* slider */
.slick-slider{position: relative; display: block; box-sizing: border-box; 
-webkit-user-select: none; -moz-user-select: none;  -ms-user-select: none;  user-select: none; -webkit-touch-callout: none;  -khtml-user-select: none;  -ms-touch-action: pan-y;  touch-action: pan-y;    -webkit-tap-highlight-color: transparent;}
.slick-list{ position: relative;    display: block;    overflow: hidden;    margin: 0;    padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{ cursor: pointer;    cursor: hand;}
.slick-slider .slick-track,.slick-slider .slick-list{ -webkit-transform: translate3d(0, 0, 0);  -moz-transform: translate3d(0, 0, 0);  -ms-transform: translate3d(0, 0, 0);   -o-transform: translate3d(0, 0, 0);  transform: translate3d(0, 0, 0);}
.slick-track{position: relative;top: 0; left: 0;    display: block;    margin-left: auto;    margin-right: auto;}
.slick-track:before,.slick-track:after{    display: table;    content: '';}
.slick-track:after{ clear: both;}
.slick-loading .slick-track{ visibility: hidden;}
.slick-slide{ display: none; float: left; height: 100%;  min-height: 1px;}
[dir='rtl'] .slick-slide{ float: right;}
.slick-slide img{ display: block;}
.slick-slide.slick-loading img{ display: none;}
.slick-slide.dragging img{ pointer-events: none;}
.slick-initialized .slick-slide{ display: block;}
.slick-loading .slick-slide{ visibility: hidden;}
.slick-vertical .slick-slide{ display: block;    height: auto;    border: 1px solid transparent;}
.slick-arrow.slick-hidden { display: none;}


