#wrap{height: 100%;}
#content {background: #f6f6f6; height: 100%; text-align: center;}
.login_section{width:80%; margin:0 auto;}
.login_section h1{padding:60px 0px 10px}
.login_section h1 img{width:119px;}
.login_section h2{display:block; margin:40px auto 20px; text-align:center; font-size:26px; font-weight:bold; color:#114e8b; font-family: 'Open Sans', sans-serif;}
.login_section .feildset{margin:20px auto 30px;}
.login_section .input_row{display: block;  height:60px; border-radius: 100px; background: #fff; box-shadow:0px 3px 6px #d3d3d3; ; padding:0 0 0 30px;}
.login_section .input_row input{ width:90%; height:60px; border-radius: 100px; font-weight:bold;}
[class^=input_row] + [class^=input_row]{margin:20px 0 0 0;}
.login_section .input_row input:focus{outline:none;}
.login_section .input_row input::placeholder{ font-size:15px; color:#4a4a4a}
.login_section button{ display: block; width:100%; height: 65px; border-radius: 100px; background: #00327f; margin:30px 0 60px 0; box-shadow:0px 3px 6px #d3d3d3; color:#fff; font-size:22px;}

.progress_section{width:80%; margin:0 auto; }
.progress_title{ padding:40px 0 0;}
.progress_title h2{text-align: left; color:#114e8b; font-size: 32px; font-weight: bold; font-family: 'Open Sans', sans-serif;}
.progress_title h3{text-align: left; color:#114e8b; font-weight: bold; margin:5px 0 0 0;}
.progress_infor{ background: #f6f6f6; box-shadow:0px 3px 6px #d3d3d3; border-radius: 20px; margin:20px auto 0px; padding:30px 0px; text-align: left;}
.progress_infor div{ font-size:13px; padding:0 0 0 60px; position: relative;}
.progress_infor div span{position: relative;}
.progress_infor .yes_infor span:after{ content: ''; position: absolute; display: inline-block; width:100%; height: 5px; background: rgba(59, 128, 217, 0.2); left:0px; bottom:0px; }
.progress_infor .yes_infor:after{ content: 'N'; position: absolute; display: block; width:29px; height: 29px; left:22px; top:-7px; font-weight: bold; text-align: center; font-size:16px; line-height: 26px;  border-radius: 50%; border: 3px solid #3b80d9; color:#3b80d9;}
.progress_infor .no_infor:after{ content: 'Y'; position: absolute; display: block; width:29px; height: 29px; left:22px; top:-7px; font-weight: bold; text-align: center; font-size:16px; line-height: 26px;  border-radius: 50%; border: 3px solid #ff7a0d; color:#ff7a0d;}
.progress_infor .no_infor span:after{ content: ''; position: absolute; display: inline-block; width:100%; height: 5px; background: rgba(255, 122, 13, 0.2); left:0px; bottom:0px; }
[class^=no_infor] + [class^=yes_infor] { margin:25px 0 0px;}
.progress {width:100%; margin:40px 0 0 0;}
.progress li{ position: relative; height: 75px;  background: #fff; box-shadow:0px 3px 6px #d3d3d3; border-radius: 20px; text-align: left; margin:20px 0 0 0;}
.progress span{ display: block; width:70%; font-weight: bold; height: 75px; line-height: 75px; box-sizing: border-box; padding:0 0 0 25px}
.progress .radio_wrap{ position: absolute; display: table; width:35%; top:0px; right:0px;}
.progress .radio_wrap .radiobox_n,
.progress .radio_wrap .radiobox_y{display: table-cell; }
.progress .radio_wrap input[type=radio]{ opacity: 0; z-index: 0; position: absolute;}
.progress .radio_wrap input[type=radio] + label{display: block; height: 75px; line-height: 75px; text-align: center; font-size: 30px; color:#e2e2e2; font-weight:bold; border-left:1px solid #e2e2e2;}
.progress .radio_wrap .radiobox_y input[type=radio]:checked + label{color:#fff; background: #ff7a0d;}
.progress .radio_wrap .radiobox_n input[type=radio]:checked + label{color:#fff; background: #3b80d9; border-radius:0 20px 20px 0;}
.paging{ position: relative; display: block; padding:0px 0 80px 0;}
.paging .paging_num{ text-align: left; display: block; padding:65px 0 0 0; letter-spacing: 1px; font-weight: bold;}
.paging button{ position: absolute; display: block; background: #00327f; color:#fff; font-weight: bold; border-radius: 30px; top:50px; right:0px; width:35%; height:60px;}
.paging button::after{ content: ''; position: absolute; right:25px; top:25px; width: 10px; height: 10px; border-top:2px solid #fff; border-right: 2px solid #fff; transform: rotate(45deg);}

.complete_section{width:80%; margin:0 auto; background: #fff; margin:60px 0 0 0; padding:60px 0; display: inline-block; box-shadow:0px 3px 6px #d3d3d3; border-radius: 20px;}
.complete_section h1 img{width:119px;}
.complete_section h2{display:block; margin:40px auto 0px; text-align:center; font-size:30px; font-weight:bold; color:#114e8b; font-family: 'Open Sans', sans-serif;}
.complete_section h3{display:block; margin:10px auto 0px; text-align:center; font-size:18px; font-weight:bold; color:#2e2e2e}​