@charset "utf-8";

/* reset */
* {max-height:1000000px;margin:0;padding:0;}
body {color:#666;font-family:"맑은 고딕",'돋움',Dotum,'굴림',Gulim,Tahoma,Verdana,Geneva,sans-serif,Apple Gothic,AppleGothic;font-size:14px;font-weight:normal;line-height:1.5;word-wrap:break-word;word-break:normal;/*word-break:keep-all;*/white-space:normal;-webkit-overflow-scrolling:touch;-webkit-text-size-adjust:none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
img, fieldset, button {border:none;}
hr, button img {display:none;}
li {list-style:none;}
a {color:initial;text-decoration:none;}
a:hover, a:active, a:focus, a:visited {text-decoration:none;}
table {width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0;}
th, td {vertical-align:middle;word-wrap:break-word;word-break:break-all;}
img {vertical-align:top;width:100%;}
legend {position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;overflow:hidden;} /* For Screen Reader 스크린 리더 용 */ 
caption {display:none;/*position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;overflow:hidden; margin-top:-1px;*/}
em {font-style:normal;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display:block;}
form {margin:0;padding:0;}
input, textarea, select {border-radius:0;}
textarea {overflow:auto;-webkit-appearance:none;}
button{overflow:visible;margin:0;padding:0;border:none;background:none;cursor:pointer;}

html,body {min-height:100vh; height:100%;}
#wrap {position:relative; width:100%; min-height:100%; overflow:hidden;}

header{width:100%; position:absolute;  left:0; top:0; z-index:22;}
header h1{text-align: center;}
header h1 a{ display: inline-block; width:250px; margin:27px 0 0 0; }
header h2{ position: absolute; right: 0; top:0; width:29px; margin:25px 15px 0 0; }

.mquick { position: fixed; right: 10px; bottom: 115px; width: 60px; height: 100px; z-index: 600; }
.mquick p { position: absolute; display: inline-block; right: 0px; bottom: 0px; width: 60px; height: 60px; border-radius: 50%; background: #dde0e5; z-index: 10; }
.mquick div { position: absolute; display: inline-block; right: 0px; bottom: 0px; width: 60px; height: 100px; border-radius: 0 0 120px 120px; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; z-index: 12; }
.mquick div img { position: absolute; left: 0px; bottom: -25px; width: 60px; }
.mquick ul { position: absolute; }
.mquick ul li { opacity: 0; position: absolute; top: 40px; left: 10px; width: 52px; border-radius: 10px; background: #3c5a98; font-size: 11px; line-height: 11px; color: #fff; font-weight: normal; text-align: center; padding: 5px 2px; z-index: 15; }
.mquick ul li span { position: absolute; left: 10px; top: 18px; width: 0; height: 0; border-top: 10px solid #3c5a98; border-right: 10px solid transparent; z-index: 15; }
.mquick ul li:nth-child(2n) { background: #b85708; }
.mquick ul li:nth-child(2n) span { border-top: 10px solid #b85708; border-right: 10px solid transparent; }
.mquick a { z-index: 30; }
.mquick a{ position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%; cursor: pointer; /*background: red;*/ }

#ch-plugin-core { bottom: 105px !important; display: none  !important; }


.mainVisual{position:relative; width:100%; height:100%; min-height:100%; max-height:100%;}
.mainVisual ul li{position:relative; width:100%; height:500px; overflow:hidden;  }
.mainVisual ul li .bg{position:absolute; width:100%; bottom:0; left:0; margin-left: 0px; z-index:8;}
.mainVisual ul li div{position: absolute; width:100%; text-align: center; z-index:12; }
.mainVisual ul li div h2{width:100%; margin:140px 0 0 0; font-size: 20px; line-height: 16px; letter-spacing:-0.8px; color: #fff; text-align: center; }
.mainVisual ul li div h3{width:100%; margin:20px auto 0; font-size: 36px; line-height: 52px; letter-spacing:-0.8px; color: #fff; text-align: center; font-weight: bold; }
.mainVisual ul li div dl{display: inline-block; margin: 60px 0 0 0; padding:0 10px; height: 32px; border-radius: 20px;  background: #fff;  font-size: 0; line-height: 44px;text-align: center;}
.mainVisual ul li div dl dd{position: relative; display: inline-block; padding:0 12px; font-size: 15px; line-height: 15px; letter-spacing:-0.8px; font-weight: bold; color: #484848; text-align: center;}
.mainVisual ul li div dl dd::after{content: ''; position: absolute; left:0; top:1px; width: 1px; height:13px; background: #aaa; }
.mainVisual ul li div dl dd:first-child::after{display: none;}

.mainVisual .bx-controls-direction {display: none}
.mainVisual .bx-pager{position: absolute; left:0; bottom:52px; width: 100%;  text-align: center;}
.mainVisual .bx-pager .bx-pager-item{display: inline-block; font-size: 0;}
.mainVisual .bx-pager .bx-pager-item > a{display: inline-block;  width: 10px; height: 10px; border-radius: 50%;  background: #fff; margin:0 10px 0 0;}
.mainVisual .bx-pager .bx-pager-item > a.active{background: #0c58a6; }

.new{ position:relative; width: 100%;  background:#0c58a6; padding:0 0 50px 0;}
.new h1{font-size:22px; line-height: 22px; color: #fff; font-weight: bold; padding: 50px 0 0 0; text-align: center; }
.new h2{font-size:16px; line-height: 26px; color: #fff; margin: 10px 0 30px 0; text-align: center;  }
.new > ul{ position:absolute; left:0px; top:350px; font-size:0; width:90%; margin:0 0 0 5%; background:#0C2743; 
padding:10px 0px 50px 0; text-align:center;}
.new > ul li {display:inline-block; width:26%; margin:30px 10px 0 0;}
.new > ul li > img{width:46px;}
.new > ul li span{ display:block; width:100%; font-size:14px; line-height: 24px; margin:7px 0 0 0; color: #fff;}
.new h3{font-size:22px; line-height: 22px; color: #fff; font-weight: bold; padding: 515px 0 0 0; text-align: center; }
.new h4{font-size:14px; line-height: 24px; color: #fff; margin: 10px 0 30px 0; text-align: center;  }
.new > img{width:215px; display:block; margin:0 auto;}

.new section.cc{position:absolute; top:170px; width:100%;}
.new section.cc > ul li{position:relative; width:100%; height:500px; overflow:hidden;  }
.new section.cc > ul li.bg{position:absolute; width:100%; top:0px; left:0; margin-left: 0px; z-index:8;}
.new section.cc .bx-controls-direction {display: none}
.new section.cc .bx-pager {display: none}
.new > div{ width:90%; margin:50px auto 0; background:#fff; padding:0 0 30px 0;}
.new > div h5{width:90%; margin:0 auto; font-size:20px; line-height: 20px; color: #072E55; font-weight: bold; padding: 30px 0 0 0; }
.new > div h6{width:90%; margin:10px auto 0; font-size:14px; line-height: 20px; color: #072E55; }

.allpeople { position: relative; width: 100%; height: 200px; margin:0 0 15px 0; background: url("../images/peopleall.png") center top/cover no-repeat; }
.allpeople h1 { width: 80%; height: 80px; font-size: 20px; line-height: 32px; color: #fff; font-weight: 200; text-align: center; margin: 0 auto; padding:60px 0 0 0; }

.manpower{width: 100%;}
.manpower{width: 100%; margin: 0 auto;}
.manpower h1{font-size:22px; line-height: 22px; color: #222; font-weight: bold; padding: 50px 0 0 0; text-align: center; }
.manpower h2{font-size:14px; line-height: 18px; color: #222; margin: 10px 0 0 0; text-align: center;  }

.manpower ul.tabBlock-tabs {margin:20px auto 30px;	width:92%; height: 32px;font-size: 0; }
.manpower ul.tabBlock-tabs li {display: inline-block; height: 40px; width: 23%; margin:0 2% 0 0; background: #f6f6f6; font-size: 13px; line-height: 40px; letter-spacing: -1px; color: #4a4a4a; text-align: center; overflow: hidden;	cursor: pointer; }
.manpower ul.tabBlock-tabs li:last-child{margin:0;}
.manpower ul.tabBlock-tabs li.is-active {position: relative;  background:#0c58a6; color: #fff;  z-index: 1;}

.manpower .manScroll {overflow-x:auto; overflow-y:hidden; }
.manpower .manScroll ul {overflow:hidden; display:table; padding:40px 0 0 2%;}
.manpower .manScroll li {display:table-cell; box-sizing: border-box; padding: 0 8px 0 8px;}
.manpower .manScroll li > a {position: relative; display:block; width:118px; width: 125px; height: 155px; border: 1px solid #dedede; border-radius: 6px; margin-right: 0px;}
.manpower .manScroll li > a img {position:absolute; left:35px; top:-27px; width:55px; height: 55px;}
.manpower .manScroll li > a h3{font-size:12px; line-height: 16px; color: #0c58a6; font-weight: bold; margin: 36px 0 0 0; text-align: center;}
.manpower .manScroll li > a h4{font-size:11px; line-height: 16px; color: #222; font-weight: bold; margin: 10px 0 0 0; text-align: center;}
.manpower .manScroll li > a h5{font-size:16px; line-height: 16px; color: #222; font-weight: bold; margin: 10px 0 0 0; text-align: center;}
.manpower .manScroll li > a::after{content: '이력보기'; position:absolute;  right:10px; bottom:15px; width:56px; height: 15px; background: url("../images/iconPlus.png")47px 4px no-repeat/7px auto;
font-size:11px; line-height: 16px; color: #d2d2d2;}

.mask{position:fixed; display:none; left:0;  top:0; width:100%; height: 100%; background:rgba(0,0,0,.8); z-index:60;}
.video{width: 100%; height: 280px; background: url("../images/videoBg.png")left top/cover; margin:70px auto 0;}
.video h1{width: 90%; font-size:19px; line-height: 28px; color: #fff; font-weight: bold; margin:0 auto; letter-spacing:-1px; text-align:left; padding: 45px 0 12px 0;}
.video h2{width: 90%; font-size:14px; line-height: 14px; color: #fff; margin:0 auto;  text-align:left;  }
.video div {overflow-x:auto; overflow-y:hidden;margin:32px 0 0 0;  }
.video div ul {overflow:hidden; display:table; font-size: 0; padding: 0 0 0 11px;}
.video div ul li{display:table-cell;  padding: 0 8px;}
.video div ul li a {position: relative; display:block; width:110px; height: 100px; background: url("../images/playBtn.png")center 17px no-repeat/30px auto; box-sizing: border-box; border: 1px solid #9E9E9E; font-size:11px; line-height: 16px; color: #fff;}
.video div ul li a span{display: block; width:80%;  margin: 55px auto 0; text-align:center;}

.videoPop { position: fixed; display: none; left: 50%; top: 50%; width: 330px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 999990; }
.videoPop p.close { position: absolute; display: block; right: 0; top: -60px; width: 60px; height: 60px; background: rgba(0, 0, 0, 0.4) url("../images/close.png") 50% 50% no-repeat; z-index: 999990; cursor: pointer; }

.solution{width: 100%; margin:25px auto 0;}
.solution h1{font-size:22px; line-height: 22px; color: #222; font-weight: bold; padding: 50px 0 0 0; text-align: center; }
.solution h2{font-size:14px; line-height: 18px; color: #222; margin: 10px 0 35px 0; text-align: center;  }
.solution div{position: relative; width:95%; height:70px; margin:0 auto 1px; overflow: hidden;}
.solution div h3{float:left; margin:24px 12px 0 20px; font-size:20px; line-height: 20px; color:#fff; font-weight: normal; }
.solution div h4{float:left; margin:26px 0 0 0px; font-size:18px; line-height: 18px; color:#fff; font-weight: bold; letter-spacing: -1px; }
.solution div.solution01{background:#47617c;}
.solution div.solution02{background:#133f69;}
.solution div.solution03{background:#041f38;}
.solution div img{position: absolute;  right:20px; top:31px; width: 19.5px; height: 10px;}
.solution div img.arrowHidden{display: none;}
.solution ul{width:80%; margin: 20px auto 25px;}
.solution ul li{position: relative; font-size:14px; line-height: 20px; color: #585858; letter-spacing: -1px; margin:0 auto 10px; padding:0 0 0 8px; font-weight: bold;}
.solution ul li:before{content: ''; position: absolute; left:0px; top:10px; width:2px; height: 2px; background:#707070; }

.price{width: 100%; margin:50px auto 0;}
.price h1{font-size:20px; line-height: 20px; color: #222; font-weight: bold; text-align: center; }
.price ul{width:330px; margin:32px auto 20px;border-bottom:1px solid #dedede;}
.price ul li{border-top:1px solid #dedede;}
.price ul li a{display: block; width:100%; height: 90px;}
.price ul li a h2{float: left; font-size:24px; line-height: 24px; color: #272727; font-weight: bold; margin:35px 0 0 20px; letter-spacing: -1px;}
.price ul li a h3{float: left; font-size:38px; line-height: 38px; color: #272727; font-weight: bold; margin:25px 0 0 30px; letter-spacing: -1px;}
.price ul li a h4{float: left; font-size:22px; line-height: 22px; color: #272727; font-weight: bold; margin:35px 0 0 5px; letter-spacing: -1px;}
.price ul li a h4 span{font-size:15px; line-height: 15px; color: #272727; font-weight: bold; margin:0px 0 0 5px;}
.price button{width:330px; height:60px; display:block; margin:0 auto; border:1px solid #dedede; font-size:15px; line-height: 60px; color: #979797;  }

.unitax{width: 100%; height: 400px; margin:50px auto 0; background: #F2F7FF;}
.unitax img{ width:300px; margin:0 0 0 5%; padding:35px 0 0 0;}
.unitax h2{width:90%; font-size:18px; line-height: 36px; color: #444; margin:0 auto;  font-weight: bold; padding:10px 0 0 0; letter-spacing: -0.5px;}
.unitax h3{width:90%; font-size:16px; line-height: 26px; color: #444; margin:0 auto; padding:12px 0 0 0; letter-spacing: -0.6px;}

.shchina{width: 100%; height: 450px; margin:0px auto 0; background: url("../images/chinaKor.png")bottom center/cover;}
.shchina h2{width:90%; font-size:18px; line-height: 36px; color: #fff; margin:0 auto; padding:30px 0 0 0; letter-spacing: -0.5px;}
.shchina h2 span{font-size:22px; line-height: 32px; color: #fff; font-weight: bold; margin:50px auto 0;letter-spacing: -0.5px;}
.shchina h3{width:90%; font-size:15px; line-height: 24px; color: #fff; margin:0 auto; padding:12px 0 0 0; letter-spacing: -0.6px;}

.shkorea{display: inline-block; width: 100%; height: 530px; background:#14396a url("../images/shkor.png")right bottom/360px auto no-repeat;}
.shkorea div{width: 90%; margin: 50px auto 0;}
.shkorea div h1{font-size:18px; line-height: 32px; color: #fff; letter-spacing: -1px;}
.shkorea div h1 > span{display: block; width:100%; font-size:24px; line-height: 32px; color: #fff; font-weight: bold; margin:3px 0 7px 0px; letter-spacing: -1px;}
.shkorea div h2 span{position: relative; display: inline-block; font-size:15px; line-height: 16px; color: #fff; padding:0 8px 0 0; letter-spacing: -1px; font-style: normal;}
.shkorea div h2 span:last-child{padding: 0;}
.shkorea div h2 span:after{content: ''; position: absolute; right:-1px; top:2px; width:1px; height: 13px; background:#fff; }
.shkorea div h2 span:last-child:after{display: none;}
.shkorea div h3{font-size:14px; line-height: 24px; color: #fff; margin: 10px 0 0 0; letter-spacing: -0.5px;}
.shkorea ul{width: 320px; margin: 40px auto 0; font-size: 0}
.shkorea ul li{position: relative; display: inline-block; background:#1B5581;  border-radius: 17px; font-size:12px; line-height: 20px; color: #fff; margin:0 11px 18px 0; padding:4px 12px;}
.shkorea ul li:nth-child(5n){margin: 0;}
.shkorea ul li:after{content: ''; position: absolute; left:1px; top:-9px; width:14px; height:20px;  background: url("../images/mapIcon.png")left top/13.5px auto no-repeat;}

.performance{ display: inline-block; width: 100%; height: 430px;  background:url("../images/performanceBg.png")50% 210px/280px auto no-repeat;}
.performance h1{font-size:24px; line-height: 24px; color: #222; font-weight: bold; margin:50px auto 0;  text-align: center; letter-spacing: -1px}
.performance ul{width:90%; margin: 25px auto 0;}
.performance ul li{position: relative; font-size:13px; line-height: 28px; color: #2e2e2e; letter-spacing: -1.2px; padding:0 0 0 10px}
.performance ul li:after{content: ''; position: absolute; left:1px; top:13px; width:3px; height:3px;  background:#a2a2a2; }

.anywhere { position: relative; width: 100%; margin: 0px 0 50px 0; background: url("../images/anywhereBg.png") left top/100% auto no-repeat; overflow: hidden; }
.anywhere img { position: absolute; left: -90px; top: 50px; width: 320px; }
.anywhere h1 { width: 90%; font-size: 20px; line-height: 20px; color: #111; margin: 0 auto; padding: 240px 0 15px 0; }
.anywhere h2 { width: 90%; font-size: 16px; line-height: 26px; color: #919191; text-align: left; margin: 0 auto; padding: 0 0 0px 0; }

.brochure{ width:100%; height: 270px; background: #f9f9f9;  font-size: 0;margin: 0 auto; }
.brochure div{display: inline-block; width: 50%; box-sizing: border-box; padding: 0 15px;}
.brochure div h1{font-size:16px; line-height: 28px; color: #222; font-weight: bold; margin:45px 0 15px 0px; letter-spacing: -1px}
.brochure div a{display: block; width: 100%; height: 50px; line-height: 48px; margin: 0 0 15px;}
.brochure div a.brochureCh{border: 1px solid #de5d5d; box-sizing: border-box; background: url("../images/brochureCh.png")90% 16px no-repeat/16px auto;font-size:13px; color: #de5d5d; padding: 0 0 0 20px;}
.brochure div a.brochureKr{border: 1px solid #7d7d7d; box-sizing: border-box; background: url("../images/brochureKr.png")90% 16px no-repeat/16px auto;font-size:13px; color: #7d7d7d; padding: 0 0 0 20px;}

.chat{position: relative; width: 100%; height: 128px; background: linear-gradient(to right, #9F3082, #4141A2, #100D43, #9F3082); background-size: 300% 300%; animation: chat 8s ease infinite;}
.chat a{width: 100%; height: 128px; background: red; }
.chat h1{font-size:22px; line-height: 22px; color: #fff; font-weight: bold; text-align: center; padding: 50px 0 0 0;}
.chat h2{font-size:14px; line-height: 14px; color: #fff; text-align: center; padding: 10px 0 0 0;}
.chat img{position: absolute; left:50%; top:-37px; transform: translateX(-50%); width: 74px; height: 74px;}
@keyframes chat { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.group{width: 100%; margin: 0px auto 0px; background: #f8f8f8;}
.group div {width: 90%; margin: 0 auto 0px; padding:30px 0 0 0; text-align: center;}
.group div img{width:327px;}

footer{display: inline-block; width: 100%; background: #f8f8f8;}
footer a{display: block; width: 90%; height: 60px; border:1px solid #dedede; font-size:16px; line-height: 60px; color: #888; text-align: center; margin:35px auto;}
footer ul{width: 90%; margin: 0 auto 80px; font-size: 0;}
footer ul li{display: inline-block; width: 50%; font-size:11px; line-height: 11px; color: #2e2e2e; letter-spacing: -0.5px; margin:0 0 10px 0;}
footer ul li:nth-child(n+5):nth-child(-n+6){width: 100%;}
footer ul li:nth-child(6){font-size:11px; line-height: 20px; color: #9e9e9e; letter-spacing: 0px; margin:5px 0 0 0;}

/*서브*/ 
.subVisual{width:100%; height: 200px;}
.subVisual h1{font-size:30px; line-height: 30px; color: #fff; font-weight: bold; text-align: center; padding:100px 0 0 0; }
.vprice{background:url("../images/subpriceBg.png")left top/cover; }
.vmanpower{background:url("../images/manpowerBg.png")left top/cover; }

.subPrice{display: inline-block; width: 100%; background: #f4f5f8; padding:0 0 100px 0;}
.subPrice ul > li{width:90%; background: #fff; border: 1px solid #dcdcdc; margin:30px auto;}
.subPrice ul > li div{display: block; width:100%; height: 90px;}
.subPrice ul > li div h2{float: left; font-size:24px; line-height: 24px; color: #272727; font-weight: bold; margin:35px 0 0 28px; letter-spacing: -1px;}
.subPrice ul > li div h3{float: left; font-size:38px; line-height: 38px; color: #272727; font-weight: bold; margin:25px 0 0 30px; letter-spacing: -1px;}
.subPrice ul > li div h4{float: left; font-size:22px; line-height: 22px; color: #272727; font-weight: bold; margin:35px 0 0 5px; letter-spacing: -1px;}
.subPrice ul > li div h4 span{font-size:15px; line-height: 15px; color: #272727; font-weight: bold; margin:0px 0 0 5px;}
.subPrice ul > li ol{margin: 0 0 25px 28px;}
.subPrice ul > li ol li{position: relative; font-size:14px; line-height: 30px; color:#373737; padding:0 0 0 10px;   letter-spacing: -1px;}
.subPrice ul > li ol li:after{content: ''; position: absolute; left:1px; top:14px; width:3px; height:3px;  background:#b2b2b2;}

.subMan{width: 100%;margin:0 auto 100px;}
.subMan h2{width:90%; border-bottom:2px solid #272727; font-size:20px; line-height: 24px; color: #272727; font-weight: bold; text-align: center; letter-spacing: -1px; margin: 0 auto; padding:30px 0 20px; }
.subMan ul{width:90%; margin: 0 auto 20px; border-bottom: 1px solid #dedede; }
.subMan ul > div {position: relative; display: inline-block; }
.subMan ul > div img{position: absolute; left:10px; top:30px; width:100px; height: 100px;}
.subMan ul > div h3{font-size:16px; line-height: 16px; color: #373737; font-weight: bold; letter-spacing: -1px; margin:10px 0 0 130px; }
.subMan ul > div h4{font-size:14px; line-height: 24px; color: #373737; letter-spacing: -1px; margin:50px 0 0 130px; }
.subMan ul > div ol{display: block; width: 90%; margin:40px auto 30px; }
.subMan ul > div ol li{position: relative; font-size:13px; line-height: 24px; color: #6a6a6a; letter-spacing: -1px;padding: 0 0 0px 6px; }
.subMan ul > div ol li:after{content: ''; position: absolute; left:0px; top:11px; width:2px; height:2px;  background:#9f9f9f;}

.subMan ul > li{position: relative; display: inline-block; width:100%; border-top: 1px solid #dedede; text-align: center; }
.subMan ul > li img{width:100px; height: 100px; margin: 30px 0 15px}
.subMan ul > li h3{font-size:16px; line-height: 16px; color: #373737; font-weight: bold; letter-spacing: -1px;  ext-align: center; margin:0 auto; }
.subMan ul > li ol{display: block; width: 95%; font-size: 0; margin:20px auto 30px;;  text-align: left; }
.subMan ul > li ol li{position: relative; display: inline-block;  width: 50%; font-size:12px; box-sizing: border-box; color: #6a6a6a; letter-spacing: -1px; padding: 0 0 7px 6px; vertical-align: top;}
.subMan ul > li ol li:after{content: ''; position: absolute; left:0px; top:8px; width:2px; height:2px;  background:#9f9f9f;}
.subMan ul > li ol li.w100{width: 100%;}













